etc/cfg/mycfg.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.sinbinet.com/xml/iot"
xmlns="http://www.sinbinet.com/xml/iot"
elementFormDefault="qualified">

  <xs:complexType name="mw_cfg_type">
    <xs:sequence>
      <xs:element name="port" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="mw_cfg" type="mw_cfg_type"/>

</xs:schema>
